upstream login{
  server 127.0.0.1:8080;
}

map $http_accept_language $language {
  default  zh_tw;
  ~*^zh-cn zh_cn;
  ~*^en    en;
  ~*^zh,   zh_cn;
}

server {
  listen  80;
  server_name www.login.com;

  gzip on;
  gzip_min_length  100;
  gzip_buffers  8 32k;
  gzip_types  text/plain text/css application/x-javascript text/xml application/xml text/javascript;
  gzip_vary on;

  set $root_dir /data/webgame;

  location = /casino.html {
   #  echo $http_accept_language;
   #  if ( $http_accept_language ~* ^([\w|-]*)(,|$) ) {
   #    set $language $1;
   #  }
    if ( $query_string ~* ^(.*)language=([\w|_]*)(&|$) ) {
      set $language $2;
    }
    lower $suffix $language;
   #  if ( $suffix ~* ^(en-).* ) {
   #    set $suffix en;
   #  }
   #  # 判断文件是否存在
   #  if ( !-e $root_dir/casino_$suffix.html ) {
   #    set $suffix zh-tw;
   #  }

   # rewrite '(.*)\.html$' $1_$suffix.html;   # 加入map后 参数取不到
   rewrite /casino.html /casino_$suffix.html; # permanent 用于重定向
  }

  location ~* (.*\.html)$ {
    root $root_dir;
    add_header Cache-Control 'no-store';
    error_page 405 =200 $1; # 支持静态网页POST
  }

  location  ~* \.(proto|json|gif|jpg|jpeg|bmp|png|ico|txt|js|css)$ {
    root $root_dir;
    expires 30d;
    access_log off;
  }

  rewrite_log on;
  access_log  /data/logs/nginx/login.http.log;
  error_log   /data/logs/nginx/login.http.log;

  location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_pass http://login;
  }
}
