upstream ssl{
        server 127.0.0.1:8080;
}

server {
  listen 443;
  server_name www.wgyuuu.com;

  ssl_certificate /data/nginx/server.crt;
  ssl_certificate_key /data/nginx/server.key;

  # https支持
  # ssl on;
  ssl_session_cache  builtin:1000  shared:SSL:10m;
  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
  ssl_prefer_server_ciphers on;

  # gzip网页压缩
  gzip on;
  gzip_min_length  100;
  gzip_buffers  8 32k;
  gzip_types  text/plain text/css application/x-javascript text/xml application/xml text/javascript;
  gzip_vary on;

  # 不需要缓存的文件
  location ~* \.(html)$ {
    root /data/webserver;
    add_header Cache-Control 'no-store';
  }

  location  ~* \.(proto|json|gif|jpg|jpeg|bmp|png|ico|txt|js|css)$ {
    root /data/webserver;
    expires 7d;
    # access_log off;
  }

   # 支持post
   error_page 405 =200 @405;
   location @405
   {
     root  /data/webserver;
   }

  error_log  /data/logs/nginx/ssl.http.log;
  access_log  /data/logs/nginx/ssl.http.log;

  location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_pass http://ssl;
  }
}
